RESTIC_REPOSITORY={{ item.repository | quote }}
RESTIC_PASSWORD={{ item.password | quote }}
{% if item.environment is defined %}
{% for key, value in item.environment.items() %}
{{ key }}={{ value | quote }}
{% endfor %}
{% endif %}
{% if (item.ssh_private_key | default('') | string | trim) != '' %}
RESTIC_SFTP_COMMAND={{ ('ssh -i ' ~ restic_ssh_dir ~ '/' ~ (item.name | regex_replace('[^A-Za-z0-9._-]+', '_')) ~ '.key -o IdentitiesOnly=yes -o StrictHostKeyChecking=yes -o UserKnownHostsFile=' ~ restic_ssh_dir ~ '/' ~ (item.name | regex_replace('[^A-Za-z0-9._-]+', '_')) ~ '_known_hosts -o GlobalKnownHostsFile=/dev/null -s sftp') | quote }}
{% else %}
RESTIC_SFTP_COMMAND=""
{% endif %}
