services:
  couchdb:
    image: couchdb:3.4
    container_name: {{ obsidian_livesync.couchdb.container_name }}
    restart: unless-stopped
    networks:
      - {{ obsidian_livesync.couchdb.internal_network_name }}
{% if obsidian_livesync.access_mode == "public_https" %}
      - {{ obsidian_livesync.ingress.shared_network_name }}
{% endif %}
    ports:
      - "{{ obsidian_livesync.couchdb.bind_host }}:{{ obsidian_livesync.couchdb.port }}:5984"
    volumes:
      - {{ obsidian_livesync.couchdb.dir }}/data:/opt/couchdb/data
      - {{ obsidian_livesync.couchdb.dir }}/etc/local.ini:/opt/couchdb/etc/local.d/local.ini
networks:
  {{ obsidian_livesync.couchdb.internal_network_name }}:
    name: {{ obsidian_livesync.couchdb.internal_network_name }}
{% if obsidian_livesync.access_mode == "public_https" %}
  {{ obsidian_livesync.ingress.shared_network_name }}:
    external: true
{% endif %}
