services:
  couchdb:
    image: couchdb:3.4
    container_name: {{ couchdb_container_name }}
    restart: unless-stopped
    networks:
      - {{ internal_network_name }}
      - {{ traefik_network_name }}
    ports:
      - "{{ couchdb_bind_host }}:{{ couchdb_port }}:5984"
    volumes:
      - {{ couchdb_dir }}/data:/opt/couchdb/data
      - {{ couchdb_dir }}/etc/local.ini:/opt/couchdb/etc/local.d/local.ini:ro
networks:
  {{ internal_network_name }}:
    name: {{ internal_network_name }}
  {{ traefik_network_name }}:
    external: true
