[chttpd]
bind_address = {{ obsidian_livesync.couchdb.bind_host }}
port = {{ obsidian_livesync.couchdb.port }}
require_valid_user = true
enable_cors = true

[chttpd_auth]
require_valid_user = true

[cors]
credentials = true
origins = {{ obsidian_effective_cors_origins | join(',') }}
headers = {{ obsidian_livesync.couchdb.cors_headers | join(',') }}
methods = {{ obsidian_livesync.couchdb.cors_methods | join(',') }}
max_age = {{ obsidian_livesync.couchdb.cors_max_age }}

[admins]
{{ obsidian_livesync.couchdb.admin_user }} = {{ couchdb_admin_local_ini_value }}
