http:
  routers:
    couchdb:
      rule: "Host(`{{ obsidian_service_subdomain }}.{{ ops_domain }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: "{{ traefik_certresolver_name }}"
      service: couchdb
  services:
    couchdb:
      loadBalancer:
        servers:
          - url: "http://{{ couchdb_container_name }}:5984"
