services:
  traefik:
    image: traefik:v3.3
    container_name: traefik
    restart: unless-stopped
    ports:
      - "443:443"
    environment:
{% for k, v in acme_env.items() %}
      {{ k }}: {{ v | quote }}
{% endfor %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ traefik_dir }}/traefik.yml:/traefik.yml:ro
      - {{ traefik_dir }}/dynamic:/dynamic:ro
      - {{ traefik_dir }}/acme:/opt/traefik/acme
    networks:
      - {{ traefik_network_name }}
networks:
  {{ traefik_network_name }}:
    name: {{ traefik_network_name }}
