export RESTIC_REPOSITORY={{ restic_target.repository | quote }}
export RESTIC_PASSWORD_FILE={{ restic_target_password_file_path | quote }}
export RESTIC_AUTO_INIT={{ 'true' if restic_target.auto_init else 'false' }}
export RESTIC_SFTP_COMMAND={{ (
  restic_target.sftp_command
  if (restic_target.sftp_command | length) > 0
  else (
    'ssh'
    ~ ' -i ' ~ restic_ssh_dir ~ '/' ~ restic_target.name ~ '.key'
    ~ ' -o IdentitiesOnly=yes'
    ~ ' -o StrictHostKeyChecking=yes'
    ~ ' -o UserKnownHostsFile=' ~ restic_ssh_dir ~ '/' ~ restic_target.name ~ '_known_hosts'
    ~ ' -o GlobalKnownHostsFile=/dev/null'
    ~ (
      ' -p ' ~ (restic_target.sftp_port | string)
      if (restic_target.sftp_port | default(22) | int) != 22
      else ''
    )
    ~ ' ' ~ (restic_target.repository | regex_replace('^sftp:([^:]+):.*$', '\\1'))
    ~ ' -s sftp'
  )
  if (restic_target.ssh_private_key | length) > 0 and (restic_target.repository is match('^sftp:[^:]+:.+$'))
  else ''
) | quote }}
{% for key, value in restic_target.environment | dictsort %}
export {{ key }}={{ value | quote }}
{% endfor %}
